html, body{
  margin: 0px;
  height: 100%;
}

h1 {
  width: 350px;
  margin: 20px auto 20px auto;
}

hr {
  width: 50%;
}

table {
  margin: auto;
  border-spacing: 15px 10px;
  background-color: lightgrey;
  font-size: 25px;
}

input {
  margin-left: 10px;
  width: 150px;
  text-align: center;
  font-size: 25px;

}

td {
  text-align: center;
}

button {
  width: 125px;
  font-size: 20px;
  padding: 10px 0 10px 0;
  border-radius: 25px;
}
